
.side-nav{
    margin-top: 1em;
    padding: 0.6em;
    box-shadow: 1px 0px 14px 0px lightgrey;
    height: 40em;
    border-radius: 1em;

    .section-title{
        padding: 1em;

        h3{
            text-align: center;
        }
    }

    .individual-category{
        ul{
            padding: 0;

        }
        .sub-items{
            text-align: center;
            margin-bottom: 0.6em;
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: black;

            // TODO: Make hover-function global and re-use it in CatNav
            &::after{
                content: '';
                display: block;
                bottom: 0;
                left: 0;
                height: 0.2em;
                // background-color: accent-color;
                background-color: red;
                transform: scaleX(0);
                transition-property: transform;
                transition-duration: 0.2s;
                // @include transition(transform, 0.2)
            }

            &:hover{
                &::after{
                    transform: scaleX(0.5);
                }
            }

        }

    }

}












